@unocss;

:root {
  --shadows-login: 0px 5px 15px -3px rgba(0, 0, 0, 0.1);
  --un-backdrop-blur: blur(2px);
}

html,
body,
div,
span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.linear-text {
  background: linear-gradient(90deg, #0caefb, #0576f6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.divider {
  position: relative;
}
.divider::after {
  content: '';
  height: 2px;
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(133, 156, 183, .12),
    rgba(133, 156, 183, .04)

  );
}

